:root {
  --color-offwhite: #f5f5f5;
  --color-light-grey: #ccc;
  --color-grey: #888;

  --color-magenta: #ec4e7b;
  --color-magenta-hover: #ca5173;

  --color-green: #56f9aa;

  --color-indigo: #5f6fac;
  --color-indigo-hover: #4e5cb2;

  --color-blue: #bcf4ff;
  --color-blue-hover: #98d8e4;

  --color-turquoise: #61f0fd;
  --color-turquoise-hover: #56cbd6;
}
