.main-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.sticker {
  width: 200px;
  height: 200px;
  position: absolute;
  z-index: 3;
  top: 250px;
  right: 80px;
  animation: float 4s ease-in-out infinite;
}

#stick {
  top: 70px;
  left: 100px;
  animation: floatAlt 4s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translate(0px, 0px) rotate(0deg);
  }
  50% {
    transform: translate(10px, -10px) rotate(5deg);
  }
  100% {
    transform: translate(0px, 0px) rotate(0deg);
  }
}
@keyframes floatAlt {
  0% {
    transform: translate(0px, 0px) rotate(0deg);
  }
  50% {
    transform: translate(-10px, 10px) rotate(-5deg);
  }
  100% {
    transform: translate(0px, 0px) rotate(0deg);
  }
}

.header {
  height: 320px;
}
.header h1 {
  padding: 0 20px;
}
.header p {
  color: var(--color-light-grey);
}

.main-page .logo {
  top: 10px;
  left: 10px;
}

.main-page .profile-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  display: inline-block;
  margin-top: 10px;
  margin-right: 10px;
  cursor: pointer;
  z-index: 2;
}

.main-page .profile-icon:hover {
  cursor: pointer;
  transform: scale(1.2);
  transition: transform 0.2s ease-in-out;
}

.main-page .profile-icon img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.quizzes-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  padding: 0 50px 70px 50px;
}

.quiz-box {
  position: relative;
  width: 300px;
  height: 170px;
  border-radius: 20px;
  margin-top: 20px;
  padding: 1rem;
  background-color: #bcf4ff;
  text-align: center;
  transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
  overflow-y: hidden;
}
.quiz-box:hover {
  cursor: pointer;
  background-color: #c7d1fb;
  transform: scale(1.05);
}

.quiz-box h2 {
  color: var(--color-indigo);
}

.quiz-box p {
  margin-bottom: 1rem;
}

.sparkle-wrapper {
  position: absolute;
  top: -50px;
  left: 0;
  width: 100%;
  height: 80%;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
}
.quiz-box:hover .sparkle-wrapper {
  opacity: 1;
}

footer p {
  font-size: 0.9rem;
  color: var(--color-grey);
  text-align: center;
}

footer a {
  color: var(--color-turquoise);
}
footer a:hover {
  color: var(--color-turquoise-hover);
}

@media (max-width: 1300px) {
  .sticker {
    display: none;
  }
}
