.quiz-page {
  max-width: 600px;
  margin: 2rem auto;
  padding: 2rem;
  text-align: center;
  position: relative;
}

.back-button {
  margin-bottom: 1rem;
  padding: 10px 15px 10px 15px;
  border-radius: 20px;
}

.back-button:hover {
  background-color: #ddd;
  transition: background-color 0.2s ease-in-out;
}

.quiz-progress {
  margin-bottom: 1rem;
  font-weight: 600;
}

.progress-bar {
  height: 10px;
  background-color: #ddd;
  border-radius: 5px;
  overflow: hidden;
  margin-top: 5px;
}

.progress-fill {
  height: 100%;
  background-color: #5f6fac;
  transition: width 0.3s ease-in-out;
}

.quiz-card {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  height: 400px;
  border: 1px solid #ddd;
  border-radius: 15px;
  justify-content: center;
  background-color: white;
}

.quiz-question {
  padding: 5px 20px 20px 20px;
  color: #5f6fac;
  font-size: 1.3rem;
}

.answers-container {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.answer-button {
  padding: 10px;
  border-radius: 20px;
  background-color: #61f0fd;
  font-weight: 600;
  transition: background-color 0.2s ease-in-out;
}

.answer-button:hover:not(:disabled) {
  background-color: #67ced7;
}

.answer-button:disabled {
  background-color: #bbb;
  cursor: not-allowed;
}

.result-summary h2 {
  margin-top: 100px;
  color: #5f6fac;
  font-size: 2rem;
}

.score-display {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-bottom: 2rem;
  padding: 1rem;
  background-color: #67ced7;
  border-radius: 60px;
}

.score-circle {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #61f0fd;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
  font-weight: 700;
  color: black;
}

.score-text {
  font-size: 1.2rem;
}

.restart-button {
  padding: 10px 20px;
  border-radius: 25px;
}

.restart-button:hover {
  background-color: #ddd;
  transition: background-color 0.2s ease-in-out;
}
